#git+https://github.com/loadtheaccumulator/glusto.git
git+https://github.com/loadtheaccumulator/glusto-tests.git@docs#subdirectory=glustolibs-gluster
git+https://github.com/loadtheaccumulator/glusto-tests.git@docs#subdirectory=glustolibs-io
