-e git+https://github.com/loadtheaccumulator/glusto.git
-e git+https://github.com/loadtheaccumulator/glusto-tests.git@dhtlibs2#subdirectory=glustolibs-gluster
-e git+https://github.com/loadtheaccumulator/glusto-tests.git@dhtlibs2#subdirectory=glustolibs-io
